<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <ul>Team Name: <input id="team[name]" type="text" name="team[name]" value=""></ul>
  <ul>Team Motto: <input id="team[motto]" type="text" name="team[motto]" value=""></ul>

  <h1>Hero 1</h1>
    <ul>Hero's Name: <input id="member1_name" type="text" name="team[members][][name]"></ul>
    <ul>Hero's Power: <input id="member1_power" type="text" name="team[members][][power]"></ul>
    <ul>Hero's Biography: <input id="member1_bio" type="text" name="team[members][][bio]"></ul>

  <h1>Hero 2</h1>
    <ul>Hero's Name: <input id="member2_name" type="text" name="team[members][][name]"></ul>
    <ul>Hero's Power: <input id="member2_power" type="text" name="team[members][][power]"></ul>
    <ul>Hero's Biography: <input id="member2_bio" type="text" name="team[members][][bio]"></ul>

  <h1>Hero 3</h1>
    <ul>Hero's Name: <input id="member3_name" type="text" name="team[members][][name]"></ul>
    <ul>Hero's Power: <input id="member3_power" type="text" name="team[members][][power]"></ul>
    <ul>Hero's Biography: <input id="member3_bio" type="text" name="team[members][][bio]"></ul>

   <input type="submit" name="submit" value="submit">
</form>
