<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><%= "#{@team.name} Team Motto: #{@team.motto}"%></p>
    <p><%= "Hero Name: #{@hero1.name} Hero Power: #{@hero1.power} Hero Biography: #{@hero1.biography}"%></p>
    <p><%= "Hero Name: #{@hero2.name} Hero Power: #{@hero2.power} Hero Biography: #{@hero2.biography}"%></p>
    <p><%= "Hero Name: #{@hero3.name} Hero Power: #{@hero3.power} Hero Biography: #{@hero3.biography}"%></p>
  </body>
</html>
